body {
    font-family: Arial, sans-serif;
}

#board {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-gap: 10px;
    width: 600px;
    /* adjust the width to your liking */
    margin: 0 auto;
    /* center the board horizontally */
}

.tile {
    width: calc((600px - 14 * 10px) / 15);
    /* calculate tile width based on board width and gaps */
    height: calc((600px - 14 * 10px) / 15);
    /* calculate tile height based on board height and gaps */
    background-color: #DDDDDD;
    font-size: 15px;
    font-weight: 600;
    /* adjust the font size to your liking */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 150ms;
    cursor: pointer;
}

.tile.empty {
    background-color: unset;
    /* give the empty tile a different background color */
    border: none;
    /* remove the border from the empty tile */
}